body
{
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	text-shadow: -1px -1px #ffffff, 1px 1px #888888;
}

body *
{
	text-align: center;
	font-size: 64px;
}

p
{
	margin: 15px auto 15px auto;
}

.inputClass1, .inputClass2, .inputClass3, .inputClass4
{
	color: #000000;
	width: 88%;
	background-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: thick;
	outline: none;
}

.inputClass2
{
	border-bottom-width: 2px;
}

.inputClass3
{
	width: 250px;
}

.inputClass4
{
	width: 400px;
	border-bottom-width: 3px;
}

/* 頂部區塊 */
#divTop
{
	width: 90%;
	margin: 15px auto 10px auto;
	border: 2px solid #000000;
	border-radius: 45px;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}

#inputDiscount
{
	width: 200px;
}

#spanDiscount
{
	visibility: hidden;
}

/* 右上角設定按鈕 */
#spanSettingButton
{
	position: absolute;
	right: 8%;
	user-select: none;
}

#divSettingButton *
{
	font-size: 60px;
}

#checkboxSetting
{
	display: none;
}

/* 設定區 */
#divSetting
{
	display: flex;
	visibility: hidden;
	height: 0px;
}

.divSettingFeeAndTax
{
	width: 45%;
	margin: 10px auto 0px auto;
}


/* 中間區塊 買入與賣出 */
.divOutside
{
	width: 100%;
	margin: 25px auto 20px auto;
	display: flex;
}

.divBuyAndSell
{
	width: 40%;
	margin: 10px auto 10px auto;
	border: 2px solid #000000;
	border-radius: 45px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.divBuyAndSell input
{
	margin: 10pt auto 10pt auto;
}

#divBuy
{
	background-color: rgba(255,0,0,0.1);
}

#divSell
{
	background-color: rgba(0,255,0,0.1);
}

#pTittle
{
	color: #222222;
	font-weight: bolder;
	margin: 10pt auto 5pt auto;
	font-size: 75px;
	text-shadow: 2px 2px 4px #ffffff;
}

/* 底部區塊 */
.divBottom
{
	margin: 0px auto;
	width: fit-content;
}

.pBottom
{
	text-align: right;
	margin: 25pt auto 25pt auto;
}