body
{
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	text-shadow: -1px -1px #ffffff, 1px 1px #888888;
}

body *
{
	font-size: 64px;
}

p
{
	margin: 24px auto 24px auto;
}

.inputClass1, .inputClass2, .inputClass3
{
	color: #000000;
	width: 350px;
	text-align: center;
	background-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: thick;
	outline: none;
}

.inputClass2
{
	border-bottom-width: thin;
}

.inputClass3
{
	width: 250px;
}

.divClassMain
{
	width: 85%;
	margin: 10px auto 10px auto;
	border: 2px solid #000000;
	border-radius: 25px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.divClassMain input
{
	margin: 10pt auto 10pt auto;
}

.tableOutside
{
	width: 95%;
	margin: 30px auto 30px auto;
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
}

.tableOutside tr td
{
	vertical-align: top;
}

#divBuy
{
	background-color: rgba(255,0,0,0.1);
}

#divSell
{
	background-color: rgba(0,255,0,0.1);
}


#pTittle
{
	font-weight: bold;
	margin: 10pt auto 5pt auto;
	font-size: 75px;
}

#Discount
{
	width: 200px;
}

#imageSetting
{
	width: 96px;
	height: 96px;
	filter: drop-shadow(3px 3px 4px rgba(100, 100, 100, 0.5));
	-webkit-filter: drop-shadow(3px 3px 4px rgba(100, 100, 100, 0.5));
}

#divSettingImage:active
{
	top: 17px;
	right: 5.9%;
}


#checkboxSetting, #divSetting
{
	display: none;
}

#divSettingImage
{
	position: absolute;
	top: 14px;
	right: 6%;
}